@import 'ant-design-vue/dist/antd.dark.less';

@primary-color:  #793EF9;
@popover-background: #2A2e37;

@body-background: #2A2e37;
@component-background: #3E4451;

@layout-header-padding: 0 20px;
@layout-header-background: #3E4451;

@menu-highlight-color: #ffffff;
@menu-item-active-bg: #793EF9;
@menu-dark-submenu-bg: #3E4451;
@menu-dark-bg:#3E4451;

@modal-header-bg: @popover-background;